<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personajes</title>
  </head>
  <body>
    <h1> Personajes </h1>
    <ul>
      {{#each characters}}
        <li>
        <div>
        <div>Nombre: {{name}}</div>
        <div>Especie: {{species}}</div>
        <img src={{image}} alt={{name}}/>
        </div>
        </li>
      {{/each}}

    </ul>
  </body>
</html>